<h1>QUESTION Toppage</h1>
<p>
    こちらは質問投稿サイトです!!!
</p>


<p>
    <%= link_to 'ログイン' ,class: "CRUD"%>
    <%= link_to '検索' , homes_new_path, class: "CRUD"%>
    <%= link_to '投稿' , homes_new_path, class: "CRUD"%>
</p>
<table>
    <% @homes.each do |t| %>
    <tr>
    <tb><%= t.message %> </tb>
    <% end %>