.CRUD {
  font-size:x-large;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#fa709a), to(#fee140));
  background-image: -webkit-linear-gradient(left, #fa709a 0%, #fee140 100%);
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.CRUD:hover {
     font-size:x-large;
     -webkit-transform: translate(0, -2px);
     transform: translate(0, -2px);
     color: #fff;
     -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
     box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
}